<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    
    <%- include('./elements/style.ejs'); -%>

    <body class="stretched">

        <!-- Document Wrapper
	============================================= -->
        <div id="wrapper" class="clearfix">

            <%- include('./elements/header.ejs'); -%>
            <%- include('./elements/slider.ejs'); -%>
            <%- include('./elements/content.ejs'); -%>
            <%- include('./elements/footer.ejs'); -%>
 
        </div><!-- #wrapper end -->

        <!-- Go To Top
	============================================= -->
        <div id="gotoTop" class="icon-angle-up"></div>
      
    <%- include('./elements/scripts.ejs'); -%>
    </body>

</html>